.git
.github
.gitignore
.idea
.vscode
.codacy

docs/
integration-tests/
tools/
scripts/

*.md
!README.md
*.env
*.pem
*.key
*.age
*.sublime-project
*.sublime-workspace
*.code-workspace

**/__pycache__
**/.coverage
**/*.egg-info
**/node_modules
**/build
**/dist

docker-compose.yml
Makefile
utest.py
CLAUDE.md
